.app_work{
    width: 100%;
    height: 100%;
    background: linear-gradient(140.6deg, #31539E 29.91%, #142962 89.79%);
    border-radius: 0px 0px 75px 75px;
    
}

.work__col{
    width: 83%;
    padding: 11rem 0rem 2rem ;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1.1fr 0.6fr;
    gap: 4rem;
    margin: 0 auto;


    .work__col1{
        flex-direction: column;
        align-items: flex-start;
    
        h3{
            margin-bottom: 2rem;
        }
    
        .work_download{
            margin-top: 1rem;
            display: flex;
            align-items: center;
 
            button{
                padding: 1rem 3rem;
                border-radius: 2rem;
                border: none;
                color: #000;
                // box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
                margin-right: 2rem;
                background: #ACD5E6;
                font-size: 20px;

                transition: 0.9s ease-in-out;
                cursor: pointer;
                &:hover {
                    background: var(--background);
                    color: aliceblue;
                }
    
            }
            .svg{
                background: #174E86;
                border-radius: 25px;
                height: 4rem;
                width: 4rem;
                display: flex;
                align-items: center;
                justify-content: center;
                // padding: 10px 35px;
                transition: 0.9s ease-in-out;
                cursor: pointer;
                &:hover {
                    background: var(--background);
                    color: aliceblue;
                }
            }
        }
    
    }
    
    .work__col2{
        img{
            // max-width: 628px;
            width: 100%;
        }
    }

    @media screen and (max-width: 1200px) {  
        grid-template-columns: 1fr;
        
        padding: 8rem 2rem 3rem;
        border-radius: 0px 0px 65px 65px;

        .work__col2{
            display: none;
        }
    }
}

