.app__book2{
    width: 100%;
    height: 100%;
    background: linear-gradient(140.6deg, #31539E 29.91%, #142962 89.79%);
    border-radius: 0px 0px 75px 75px;
}

.book2__col{
    width: 83%;
    padding: 10rem 0rem 4rem 0rem ;  
    overflow: hidden;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1.0fr 1fr;
    gap: 7rem;


    .book2__col1{
        flex-direction: column;
        align-items: flex-start;
    
        h3{
            margin-bottom: 2rem;
        }

        p{
            line-height: 31px;
        }
    
        .book2_download{
            margin-top: 1rem;
            display: flex;
            align-items: center;
 
            button{
                padding: 1rem 2rem;
                border-radius: 2rem;
                border: none;
                color: #000;
                // box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
                margin-right: 2rem;
                background: #ACD5E6;
                font-size: 12px;
                display: flex;
                align-items: center;
                justify-content: center;
    
            }
            .svg{
                background: #174E86;
                border-radius: 25px;
                height: 4rem;
                width: 4rem;
                display: flex;
                align-items: center;
                justify-content: center;
                // padding: 10px 35px;
            }
        }
    
    }
    
    .book2__col2{
        // flex: 1;
        // width: 40%;
    
        img{
            max-width: 428px;
            width: 50%;
            // object-fit: contain;
        }
    }

    @media screen and (max-width: 800px) {  
        grid-template-columns: 1fr;
        
        padding: 8rem 1rem 3rem;
        border-radius: 0px 0px 65px 65px;

        .book2__col2{
            margin: 0;
        }

        button{
            padding: 1rem 2rem;
            
            border-radius: 1rem;
        }
    }
}

