.app {
    font-family: var(--font-base);
    background: var(--background);

    .his{
        width: 100%;
        position: relative;
        // bottom: 0px;
        top: -250PX;
        z-index: 1;

        @media screen and (max-width: 320px) {
            // bottom: 150px;
            top: -120px;
        }

        @media screen and (max-width: 450px) {
            // bottom: 300px;
            top: -90px;
        }

        @media screen and (max-width: 1200px) {
            bottom: 200px;
        }
    }

}

h2{
    font-style: normal;
    font-weight: 700;
    font-size: 85px;
    line-height: 115px;
    color: var(--main-color);
}

p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 48px;
    color: var(--primary-color);
}

.app-whitebg{
    background-color: var(--white-color);
}

.app__primarybg {
    background-color: var(--primary-color);
}

.app__container{
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: row;
}

.app__flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.app__wrapper{
    flex: 1;
    width: 100%;
    flex-direction: column;
    padding: 4rem 2rem;

    @media screen and (max-width: 450px) {
        padding: 4rem 1rem 2rem;
    }
}

.copyright {
    width: 100%;
    padding: 2rem 0 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    p{
        text-transform: uppercase;
        color: var(--black-color);
    }
}

.head-text{
    font-size: 2.75rem;
    font-weight: 800;
    text-align: center;
    color: var(--black-color);
    text-transform: capitalize;

    span {
        color: var(--secondary-color);
    }

    @media screen and (min-width: 2000px) {
        font-size: 2rem;
    }

    @media screen and (max-width: 450px) {
        font-size: 2rem;
    }
}

.p-text {
    font-size: 0.8rem;
    text-align: left;
    color: var(--gray-color);
    line-height: 1.5;

    @media screen and (min-width: 2000px) {
        font-size: 1.75rem;
    }
}

.bold-text{
    font-size: 1rem;
    font-weight: 800;
    color: var(--black-color);
    text-align: left;

    @media screen and (min-width: 2000px) {
        font-size: 2rem;
    }

    @media screen and (max-width: 450px) {
        font-size: 0.9rem;
    }
}


