
.head{
    height: 100%;
    width: 100%;
    background-color: var(--header);
    border-radius: 0px 0px 125px 125px;
    
    h3, p{
        color: #fff;
    }

    @media screen and (max-width: 450px) {
        padding: 0rem 0rem 0rem;
    }

}

.app__header{
    overflow: hidden;
    
    
    // padding: 3rem 0rem;
    padding-top: 9rem;
    position: relative;

    width: 85%;
    margin: 0 auto;

    form{
        padding: 20px;
        max-width: 379px;
        max-height: 66px;
        background: var(--form-color);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        overflow: hidden;
        
    
        input {
            font-weight: 400;
            font-size: 13px;
            line-height: 20px;
            background: transparent;
            border: none;
            color: #174E86;
            cursor: pointer;
            // box-shadow:0 0 15px 4px rgba(0,0,0,0.06);

            &:hover{
                border: none;
            }
        }
        button{
            padding: 5px 40px;
            background: var(--button-color);
            border: none;
            border-radius: 6.96078px;
            cursor: pointer;
            transition: 1.0s ease-in-out;
            &:hover {
                background-color: var(--main-color);
                color: aliceblue;
            }
        }
        
    }

    // media query for small screens

    @media screen and (min-width: 2000px) {
        padding-top: 14rem;
    }

    @media screen and (min-width: 1200px) {
        flex-direction: column;
        padding: 5rem 5rem 0 ;
        align-items: center;
        align-content: center;
        justify-content: center;
        .form{
            display: none;
        }
    }


    @media screen and (max-width: 850px) {
        // padding: 9rem 0rem 0rem;
        width: 100%;
        margin: 0 auto;

        form{
            input{
                font-size: 10px;
            }
        }
    }
}

.app__header-info{

    @media screen and (max-width: 1200px) {
        h3{
            // font-size: 40px;
            margin-bottom: 1rem;
        }
        p{
            // font-size: 18px;
            margin-bottom: 1rem;
        }
    }

    @media screen and (min-width: 1200px) {

        h3{
            font-size: 75px;
            font-weight: 700;
            position: absolute;
            left: 0px;
            bottom: 0;
            top: 340px;
            right: 0;
        }
    }
}

.app__header-img{
    // flex: 1;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;

    img{
        width: 85%;
        object-fit: contain;
        z-index: 1;
        display: flex;

        max-width: 964px;
        // margin-bottom: auto;
        
    }

    .overlay-shape{
        position: absolute;
        // left: 100px;
        // left: 0;
        // top: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        width: 85%;
        height: 75%;
    }

    @media screen and (max-width: 1200px) {
        img{
            width: 100%;
        }
    }
}

.app__header-badge2{
    display: none;
    .form2{
        padding: 1rem 2rem;
        border: var(--white-color);
        border-radius: 15px;
        display: flex;
        flex-direction: row;
        width: auto;

        flex-direction: column;
        margin-top: 1rem;

        position: absolute;
        // left: 0;
        bottom: 0;
        top: 40%;
        right: -20px;
        z-index: 1;

        // box-shadow: 0 0 20px rgba(0,0,0,0.1);
    }

    p{
        margin-bottom: 2rem;
    }

    @media screen and (min-width: 1200px) {
        display: block;
    }       
}

    

