@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;600;700&display=swap');

:root {
  --font-base: "Space Grotesk", sans-serif;
  --font-base2: "Raleway";
  --background: linear-gradient(121.53deg, #070B28 17.18%, #0A0D21 84.45%);
  --header: linear-gradient(121.53deg, #070B28 17.18%, #0A0D21 84.45%); 
  --main-color: #ACD5E6;
  --button-color: #174E86;
  --primary-color: #ffffff;
  --dark-grey: #3C3C3C;
  --deep-blue: #031527;
  --history-bg: #031527;
  --article-bg: #031527;
  --article-h2: #ACD5E6;
  --green: #475847;
  --white-color: #ffffff;
  --hover-color: #ffc0cb;
  --black-color: #000;
  --connect-div: #031527;
  --form-color: #AcD5E6;
}

[data-theme='light'] {
  /* --header: linear-gradient(140.6deg, #31539E 29.91%, #142962 89.79%); */
  --header: #31539E;
  --background: #ACD5E6;
  --main-color: #174E86;
  --button-color: #ACD5E6;
  --primary-color: #000000;
  --dark-grey: #3C3C3C;
  --deep-blue: #031527;
  --history-bg : #ffffff;
  --article-bg: linear-gradient(140.6deg, #31539E 29.91%, #142962 89.79%);
  --article-h2: #ffffff;
  --connect-div: #F5F5F5;
  --form-color: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: auto;
  color: #fff;
  overflow-x: hidden;
  /* overflow-x: auto; */
}