.allBooks__app{
    width: 100%;
   
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6rem auto;

    img{
        margin-right: 3rem;
    }

    @media screen and (max-width: 1200px) {
        margin: 6rem auto;

        img{
            margin-right: 1rem;
            width: 30%;
        }
    }
}